html body {
  margin: 0;
  overflow: hidden;
}

.cost {
  font-size: 16px;
  color: #80cbc4;
  margin: 0;
  padding: 0;
  text-align: center;
}

.peer_count {
  font-size: 20px;
  color: #ff8a65;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.overannounced-net {
  color: #ff8a65;
}

.unannounced-net {
  color: #b0bec5;
}

.unassigned-net {
  color: #80cbc4;
}

.app {
  position: absolute;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  padding: 10px;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}

[class="dark"]::view-transition-old(root) {
  z-index: 2147483646;
}
[class="dark"]::view-transition-new(root) {
  z-index: 1;
}

.graph-selecter .el-select__wrapper {
  background-color: transparent;
}